*$py.class
*.c
*.calltree
*.egg-info/
*.eggs/
*.html
*.log
*.lprof
*.mp4
*.preprocessed.pyx
*.prof
*.py[cod]
*.so
.coverage
/AUTHORS
/Bz*.npy
/ChangeLog
/Ez*.npy
/build/
/cover/
/coverage.xml
/dist/
/dump/
/htmlcov/
/misc/c_plasma_solver
/result_*.dat
/transverse*/
__pycache__/
/docs/index.rst
